/* GENERAL */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: rgb(246, 248, 250);
}

/* UTILITIES */

header span {
  text-align: center;
  vertical-align: middle;
  font-size: 2.4rem;
  font-weight: bold;
}


/* HEADER */

header {
  background-color: white;
  max-width: 100%;
  height: 70px;
}

.logo {
  line-height: 70px;
  padding-top: 10px;
  padding-left: 20px;
  vertical-align: middle;
}

/* MAIN */